/* Dekstop First Approch */

* {
  box-sizing: border-box;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  margin: 0;
  color: white;
  background: #11121a;
}

header {
  background: #1c1c24;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-bottom: 25px;
}

.header-container {
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 25px;
}
.header-container .logo {
  margin-right: 10px;
  height: 30px;
}
.header-container .logo img {
  height: 100%;
}
.search {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 25px;
}
.search-container {
  background: #1c1c24;
  height: 60px;
  border-radius: 10px;
  border: 2px solid #222328;
  display: flex;
  overflow: hidden;
}
.input-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.input-container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  margin: 0 20px;
  font-size: 20px;
}
.input-container i {
  font-size: 20px;
  margin-left: 15px;
}
.button-container {
  background: #3060ff;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.button-container:hover {
  background: #5a81ff;
}
.jobs-list {
  background-color: #11121a;
  max-width: 1250px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 25px;
}

.jobs-container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background: #11121a;
}

.job-tile {
  background-color: #1c1c24;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 30px;
  transition: transform 0.3s;
}
.job-tile:hover {
  transform: scale(1.05);
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.top img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.role-name {
  margin: 20px 0px;
}
.role-name span {
  font-size: 22px;
}

.description {
  height: 105px;
  flex-grow: 1;
  overflow: hidden;
  font-size: 18px;
  color: #96939b;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  height: 45px;
}

.button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #96939b;
  background-color: #2e2e39;
  font-size: 14px;
}

.apply-now {
  color: white;
  background: #3060ff;
  margin-right: 15px;
}

/* For Tablet */
@media screen and (max-width: 930px) {
  .jobs-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .jobs-list h1 {
    font-size: 20px;
  }
}

/* For Mobile  */
@media screen and (max-width: 411px) {
  .jobs-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .jobs-list h1 {
    font-size: 18px;
  }
}
